@charset "UTF-8";
/* --------------------------------------------------------
foundation
-------------------------------------------------------- */
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

html, body {
  position: relative;
  min-height: 100%;
}

/* --------------------------------------------------------
layout
-------------------------------------------------------- */
.l-body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.l-main {
  margin-right: 367px;
}

@media screen and (max-width: 851px) {
  .l-main {
    margin: 0;
  }
}

.p-fade-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

/* --------------------------------------------------------
component
-------------------------------------------------------- */
.c-sidebar {
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: #F2EDE9;
  color: #707070;
  width: 367px;
  height: 100%;
  padding: 178px 0 0 0;
}

.c-sidebar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 851px) {
  .c-sidebar {
    position: fixed;
    display: none;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 392px) {
  .c-sidebar {
    display: none;
    width: 328px;
    overflow-y: scroll;
  }
}

.c-sidebar h2 {
  font-size: 1.5rem;
  padding: 34px 0 0 46px;
}

.c-sidebar ul {
  list-style: none;
  padding: 40px 0 0 66px;
  font-size: 1.25rem;
}

.c-sidebar li {
  padding: 0 0 23px 0;
}

@media screen and (max-width: 851px) {
  .c-close__button {
    display: inline-block;
    width: 2rem;
    height: 0.2rem;
    background: currentColor;
    border-radius: 0.1em;
    position: absolute;
    top: 41px;
    right: 17px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .c-close__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

/* --------------------------------------------------------
project
-------------------------------------------------------- */
.p-header__menu-button {
  display: none;
}

@media screen and (max-width: 851px) {
  .p-header__menu-button {
    display: block;
    position: absolute;
    top: 18px;
    right: 26px;
    font-size: 2.125rem;
    color: #707070;
  }
}

@media screen and (max-width: 392px) {
  .p-header__menu-button {
    display: block;
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 1.25rem;
  }
}

.p-header {
  margin: 0 367px 0 0;
  background-color: #FFF7EF;
}

@media screen and (max-width: 851px) {
  .p-header {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 392px) {
  .p-header {
    text-align: center;
  }
}

.p-header__logo {
  font-size: 4rem;
  padding: 67px 0 66px 65px;
  color: #707070;
}

@media screen and (max-width: 851px) {
  .p-header__logo {
    font-size: 2.5rem;
    padding: 40px 0 38px 0;
  }
}

.p-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 851px) {
  .p-header__wrapper {
    display: initial;
  }
}

.p-serch-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 86px 30px 85px 0;
  font-size: 1rem;
}

.p-serch-form__search {
  width: 396px;
  height: 46px;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 10px;
}

@media screen and (max-width: 851px) {
  .p-serch-form__search {
    height: 46px;
    width: 396px;
  }
}

@media screen and (max-width: 392px) {
  .p-serch-form__search {
    height: 46px;
    width: 230px;
  }
}

.p-serch-form__submit {
  background-color: #F2EDE9;
  border: 1px solid #707070;
  width: 136px;
  height: 46px;
  margin: 0 0 0 14px;
  border-radius: 10px;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 851px) {
  .p-serch-form__submit {
    padding: 10px 51px;
  }
}

@media screen and (max-width: 392px) {
  .p-serch-form__submit {
    width: 78px;
    padding: 10px 22px;
    margin: 0 0 0 12px;
  }
}

@media screen and (max-width: 851px) {
  .p-serch-form {
    padding: 0 0 40px 0;
  }
}

@media screen and (max-width: 392px) {
  .p-serch-form {
    padding: 0 0 40px 0;
  }
}

.p-main-visual {
  background-image: url("../../../images/index_mainvisual_img01.svg");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 530px;
  margin: 0 367px 0 0;
}

@media screen and (max-width: 851px) {
  .p-main-visual {
    height: 285px;
    background-position: 0 50%;
    margin: 0;
  }
}

@media screen and (max-width: 392px) {
  .p-main-visual {
    height: 285px;
    background-position: 50% 0;
  }
}

.p-main-visual h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'M PLUS 1p', sans-serif;
  padding: 231px 0 0 86px;
}

@media screen and (max-width: 851px) {
  .p-main-visual h1 {
    font-size: 2.25rem;
    padding: 119px 0 0 86px;
  }
}

@media screen and (max-width: 392px) {
  .p-main-visual h1 {
    padding: 119px 0 0 25px;
  }
}

.p-branch-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 392px) {
  .p-branch-menu ul {
    display: initial;
  }
}

.p-branch-menu__take-out-01 {
  background-image: url(../../../images/index_main_img01.svg);
  background-size: cover;
  background-position: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 1193px;
  margin: 120px 40px 134px 111px;
  padding: 0 11px 11px 12px;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__take-out-01 {
    height: 681px;
    margin: 40px 20px 40px 40px;
    padding: 0 11px 11px 12px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__take-out-01 {
    width: auto;
    height: 642px;
    margin: 20px;
    padding: 10px;
  }
}

.p-branch-menu__take-out-01 h2 {
  font-size: 5rem;
  color: #EAEAEA;
  font-family: 'M PLUS 1p', sans-serif;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__take-out-01 h2 {
    font-size: 2.5625rem;
  }
}

.p-branch-menu__take-out-01 h2::after {
  display: block;
  content: "";
  width: 33.89px;
  padding: 19.3px 0 0 13.5px;
  border-bottom: 4px solid #fff;
}

.p-branch-menu__take-out-02 {
  background-image: url(../../../images/index_main_img02.svg);
  background-size: cover;
  background-position: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 1193px;
  margin: 120px 111px 134px 40px;
  padding: 0 11px 11px 12px;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__take-out-02 {
    height: 681px;
    margin: 40px 40px 40px 20px;
    padding: 0 11px 11px 12px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__take-out-02 {
    width: auto;
    height: 642px;
    margin: 20px;
    padding: 10px;
  }
}

.p-branch-menu__take-out-02 h2 {
  font-size: 5rem;
  color: #EAEAEA;
  font-family: 'M PLUS 1p', sans-serif;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__take-out-02 h2 {
    font-size: 2.5625rem;
  }
}

.p-branch-menu__take-out-02 h2::after {
  display: block;
  content: "";
  width: 33.89px;
  padding: 19.3px 0 0 13.5px;
  border-bottom: 4px solid #fff;
}

.p-branch-menu__small-01 {
  background-color: #fff;
  opacity: 0.8;
  height: 100%;
  max-height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0 0 0;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__small-01 {
    max-height: 172px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__small-01 {
    max-height: 163px;
  }
}

.p-branch-menu__small-01 dt {
  font-size: 1.5rem;
  padding: 17px 0 0 19px;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__small-01 dt {
    font-size: 1.5rem;
    padding: 20px 0 0 11px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__small-01 dt {
    font-size: 1.375rem;
    padding: 19px 0 0 10px;
  }
}

.p-branch-menu__small-01 dd {
  font-size: 1rem;
  padding: 0 25px 0 19px;
  height: 97px;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__small-01 dd {
    height: 76px;
    padding: 0 15px 22px 11px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__small-01 dd {
    height: 72px;
    padding: 0 14px 23px 10px;
  }
}

.p-branch-menu__small-02 {
  background-color: #fff;
  opacity: 0.8;
  height: 100%;
  max-height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 9px 0 0 0;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__small-02 {
    max-height: 172px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__small-02 {
    max-height: 163px;
  }
}

.p-branch-menu__small-02 dt {
  font-size: 1.5rem;
  padding: 17px 0 0 19px;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__small-02 dt {
    font-size: 1.5rem;
    padding: 20px 0 0 11px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__small-02 dt {
    font-size: 1.375rem;
    padding: 19px 0 0 10px;
  }
}

.p-branch-menu__small-02 dd {
  font-size: 1rem;
  padding: 0 25px 0 19px;
  height: 97px;
}

@media screen and (max-width: 851px) {
  .p-branch-menu__small-02 dd {
    height: 76px;
    padding: 0 15px 22px 11px;
  }
}

@media screen and (max-width: 392px) {
  .p-branch-menu__small-02 dd {
    height: 72px;
    padding: 0 14px 23px 10px;
  }
}

.p-access {
  position: relative;
}

.p-access iframe {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 649px;
}

@media screen and (max-width: 851px) {
  .p-access iframe {
    height: 415px;
  }
}

@media screen and (max-width: 392px) {
  .p-access iframe {
    height: 691px;
  }
}

.p-access__content {
  position: absolute;
  z-index: 2;
  background-color: #000;
  opacity: 0.29;
  color: #fff;
  max-width: 950px;
  height: 649px;
}

@media screen and (max-width: 851px) {
  .p-access__content {
    height: 415px;
  }
}

@media screen and (max-width: 392px) {
  .p-access__content {
    height: 691px;
  }
}

.p-access__content h2 {
  padding: 83px 0 0 119px;
  font-size: 2.25rem;
}

@media screen and (max-width: 851px) {
  .p-access__content h2 {
    padding: 40px 0 0 42px;
    font-size: 1.875rem;
  }
}

.p-access__content h2::after {
  display: block;
  content: "";
  width: 75px;
  padding: 19.3px 0 0 13.5px;
  border-bottom: 4px solid #fff;
}

.p-access__content p {
  padding: 63.5px 134px 0 119px;
  font-size: 1rem;
  line-height: 2.0;
}

@media screen and (max-width: 851px) {
  .p-access__content p {
    padding: 20px 40px 0 40px;
    font-size: 0.875rem;
  }
}

.p-footer {
  background-color: #9D8670;
  text-align: center;
  color: #fff;
  font-family: 'M PLUS 1p', sans-serif;
  height: 150px;
  margin: 649px 367px 0 0;
}

@media screen and (max-width: 851px) {
  .p-footer {
    margin: 415px 0 0 0;
  }
}

@media screen and (max-width: 392px) {
  .p-footer {
    margin: 711px 0 0 0;
  }
}

.p-footer__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 39px 0 34px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
}

.p-footer li {
  padding: 0 10px;
}

.p-footer li + li {
  border-left: 2px solid #fff;
}

.p-copyright {
  padding: 0;
  font-size: 0.875rem;
}
/*# sourceMappingURL=style.css.map */