@import "../../foundation/responsive";
@import "../../foundation/color.scss";

.p-main-contents {
  &__archive {
    font-family: 'M PLUS 1p', sans-serif;
    & h2 {
      font-size: 1.75rem;
      padding: 30px 0 0 22px;
    }
  }
  &__top-text {
    font-size: 1rem;
    padding: 30px 18px 19px 22px;
  }
}

// メニューラッパー
.p-main-contents__menu-wrapper {
  padding: 70px 100px 30px 100px;
  @include iPhone {
    padding: 0 20px;
  }
}